<form action="/answer" data-turbo="false">
  <input type="text" class="form-control" id="formGroupExampleInput" name="question">
  <input type="submit" class="btn btn-outline-primary" value="Ask!">
</form>
